<%- include("partials/header") %>

<section id="gallery-4" class="gallery-section gallery-style-4">
	<div class="container">

		<%- include("partials/message") %>

		<div class="row">
			<div class="col-xxl-7 col-xl-8 col-lg-10">
				<div class="section-title mt-40">
					<h3 class="mb-15">FOOD SECTION</h3>
					<p>(Hover or Click to see options)<br /><strong>DELETING IS
							IRREVERSIBLE</strong></p>
					<a href="/create-food" class="button button-sm radius-30 mt-20">Create Product</a>
				</div>
			</div>
			<div class="col-md-12">
				<div class="portfolio-button-wrapper">
					<button class="portfolio-btn active" data-filter="*">All</button>
					<button class="portfolio-btn" data-filter=".Meats">Meats</button>
					<button class="portfolio-btn" data-filter=".Nachos">Nachos</button>
					<button class="portfolio-btn" data-filter=".Candy">Candy</button>
					<button class="portfolio-btn" data-filter=".Drinks">Drinks</button>
					<button class="portfolio-btn" data-filter=".No-Category">No Category</button>
				</div>
			</div>
		</div>


		<div class="row grid gallery-4 meats">
			<% food.forEach(foodItem=> { %>
			<div class="col-lg-4 col-md-6 gallery-item <%= foodItem.category %>">
				<div class="single-gallery">
					<div class="image">
						<img src="../../../../img/images/logo.png" alt="">
						<div class="overlay">
							<div class="action">
								<a href="/edit-food/<%= foodItem._id %>"> <i class="lni lni-pencil-alt"></i></a>
								<button id="<%= foodItem._id %>" class="delete lni lni-trash"
									onclick="deleteFoodClicked(this.id)"></button>
							</div>
						</div>
					</div>
					<div class="info">
						<h5><%= foodItem.name %></h5>
						<p><strong>Price:</strong> $<%= foodItem.price %></p>
					</div>
				</div>
			</div>

			<% }) %>
		</div>
</section>

<%- include("partials/footer") %>