<%- include("../partials/header") %>

<section id="contact" class="contact-section contact-style-1">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">

				<div class="row">
					<div class="col-xxl-7 col-xl-8 col-lg-10">
						<div class="section-title mb-40">
							<h3 class="mb-15">Edit a Food Item</h3>
							<p>Edit a food item for public display</p>
						</div>
					</div>
				</div>

				<div class="contact-form-wrapper">
					<form action="/edit-food/<%= foodItem._id %>" method="POST">
						<div class="row">
							<div class="col-md-6">
								<div class="single-input">
									<label for="name">Item Name</label>
									<input type="text" id="name" name="name" class="form-input"
										value="<%= foodItem.name %>" required>
									<i class="lni lni-user"></i>
								</div>
							</div>
							<div class="col-md-6">
								<div class="single-input">
									<label for="category">Item Category</label>
									<select class="form-select" name="category">
										<option value="<%= foodItem.category %>" selected>Current:
											<%= foodItem.category %>
										</option>
										<option value="Meats">Meats</option>
										<option value="Sides">Sides</option>
										<option value="Desserts">Desserts</option>
										<option value="Plates">Plates</option>
										<option value="No Category">No Category</option>
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="single-input">
									<label for="price">Item Price</label>
									<input type="number" id="price" name="price" class="form-input"
										placeholder="30 / 10 / 5" value="<%= foodItem.price %>" required>
									<i class="lni lni-text-format"></i>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-button">
									<button type="submit" class="button radius-10">Update<i
											class="lni lni-telegram-original"></i> </button>
									<button type="button" onclick="window.location='/dashboard'"
										class="button radius-10">Cancel<i class="lni lni-close"></i>
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>

	<div class="contact-image">
		<img src="../img/images/illustation.svg" alt="">
	</div>
</section>

<%- include("../partials/footer") %>