<%- include("../partials/editHeader") %>

<section id="contact" class="contact-section contact-style-1">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">

				<div class="row">
					<div class="col-xxl-7 col-xl-8 col-lg-10">
						<div class="section-title mb-40">
							<h3 class="mb-15">Edit an Alert</h3>
							<p>Edit an Alert for public display</p>
						</div>
					</div>
				</div>

				<div class="contact-form-wrapper">
					<form action="/edit-alert/<%= alertItem._id %>" method="POST">
						<div class="row">
							<div class="col-md-6">
								<div class="single-input">
									<label for="title">Alert Title</label>
									<input type="text" id="title" name="title" class="form-input"
										value="<%= alertItem.title %>" required>
									<i class="lni lni-user"></i>
								</div>
							</div>
							<div class="col-md-12">
								<div class="single-input">
									<label for="content">Alert Content</label>
									<textarea name="content" id="content" class="form-input" rows="6"
										required><%= alertItem.content %></textarea>
									<i class="lni lni-comments-alt"></i>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-button">
									<button type="submit" class="button radius-10">Update<i
											class="lni lni-telegram-original"></i> </button>
									<button type="menu" class="button radius-10">Cancel<i class="lni lni-close"></i>
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>

	<div class="contact-image">
		<img src="../img/images/illustation.svg" alt="">
	</div>
</section>

<%- include("../partials/editFooter") %>